<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{title}} | {{/if}}Flint</title>
  <link rel="icon" href="_/img/favicon.png">
</head>
<body> 
  {{#block "body"}}

  {{/block}}
</body>
</html>