<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{#if entry.title}}{{entry.title}} | {{/if}}Flint</title>
  <link rel="icon" href="_/img/favicon.png">
</head>
<body style="background-color: {{#if entry.color}}{{entry.color}}{{else}}white{{/if}}"> 
  <pre><code>{{json this}}</code></pre>
  {{#block "body"}}

  {{/block}}
</body>
</html>