.asset {
    &__btn {
        padding: 0;
        border: none;
        margin: 0;
        background: none;

        &:focus {
            border-color: lighten($blue, 30%);
            box-shadow: 0 0 5px lighten($blue, 30%);
        }

        svg {
            fill: $grey-light;
        }

        &__img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8rem;
            height: 8rem;
            padding: 1em;
            border: 1px solid $grey-light;
            border-radius: 3px;
            cursor: pointer;

            img { max-width: 100%; }

            &:hover {
                border-color: $grey;
            }
        }

        &__title {
            box-sizing: border-box;
            width: 100%;
            border-radius: 3px;
            margin-top: 1em;
            margin-bottom: 0;
            font-size: $size0;
            font-weight: 500;
        }
    }

    &-modal {
        &__assets {
            display: flex;
        }

        .table-wrapper {
            width: 100%;

            .table__row:hover {
                background-color: darken($grey-lighter, 5%);
                cursor: pointer;
            }
        }
    }

    &__thumbnail {
        width: 4rem;
        height: 4rem;
        padding: 0;
        border: none;
        margin: 0;
        background: none;
    }
}
