.asset {
    &__btn {
        position: relative;
        width: 8rem;
        height: 8rem;
        border: 2px dotted $grey;
        background: none;

        img {
            width: 100%;
        }

        &__title {
            position: absolute;
            bottom: -1em;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 0.4em 0.6em;
            border-radius: 3px;
            background-color: $grey-light;
            font-size: $size0;
        }
    }

    &-modal {
        &__assets {
            display: flex;
        }
    }

    &__tile {
        width: 19%;
        max-width: 100px;
        padding: 0.5em;
        border: 2px dotted $grey;
        background: none;

        img { max-width: 100%; }
    }
}
