.aside {
    align-self: flex-start;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    padding: 2em;
    border-radius: 3px;
    border: 1px solid $gray-300;
    margin: 2em 2em 0 1em;
    background-color: $gray-000;

    @include media($on-mobile) {
        width: calc(100% - 2em);
        padding: 1em;
        margin: 1em;
        order: -1;
    }
}
