.aside {
    align-self: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 3px;
    border: 1px solid $grey-light;
    margin: 2em 2em 0 1em;
    min-width: 200px;
    background-color: $grey-lighter;
}
