{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-no-bind": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.js"
      }
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}
