.checkbox {
    &-wrapper {
        display: flex;
        align-items: center;
    }

    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid $gray-300;
    border-radius: 3px;
    background: none;
    transition: background-color 150ms $standard;

    &-group {
        .checkbox-wrapper + .checkbox-wrapper { margin-top: 0.4em; }

        &__label {
            display: block;
            margin-bottom: 0.4em;
            font-weight: 700;
            font-size: $size0;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: white;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 101ms $exit;
    }

    &.is-checked {
        border-color: $gray-500;
        background-color: $orange;

        svg {
            transform: translate(-50%, -50%) scale(1);
            transition-duration: 200ms;
            transition-timing-function: $bounce;
        }
    }

    + .input__label {
        margin-left: 1em;
        margin-bottom: 0;
        font-weight: 500;
    }
}
