// stylelint-disable no-browser-hacks, at-rule-empty-line-before

@mixin box-shadow($depth) {
    box-shadow: 0 #{2 * $depth}px #{4 * $depth}px rgba(black, 0.1 * $depth);
}

// Media-Queries
$on-mobile: 768px;
$on-tablet: 1024px;
$on-laptop: 1500px;

@mixin media($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin scrollbar($thumbColor, $trackColor, $trackWidth) {
    &::-webkit-scrollbar { width: $trackWidth; }

    &::-webkit-scrollbar-track { background-color: $trackColor; }

    &::-webkit-scrollbar-thumb {
        border-radius: $trackWidth / 2;
        background-color: $thumbColor;
    }
}

@mixin triangle($direction, $size, $color) {
    width: 0;
    height: 0;
    border-width: $size;
    border-style: solid;
    border-color: transparent;

    @if $direction == 'top' {
        border-bottom-color: $color;
    }
    @else if $direction == 'bottom' {
        border-top-color: $color;
    }
    @else if $direction == 'right' {
        border-left-color: $color;
    }
    @else if $direction == 'left' {
        border-right-color: $color;
    }
}
