// stylelint-disable no-browser-hacks

//==============//
//    COLORS    //
//==============//
// Greys
$grey-lighter: #fafafa;
$grey-light: darken(#ebedef, 8%);
$grey: #92989a;
$grey-dark: #353739;
$grey-darker: darken($grey-dark, 65%);

// Brand Colors
$orange: #fe6300;
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);

$blurple: #403f63;
$blurple-light: lighten($blurple, 10%);
$blurple-dark: darken($blurple, 10%);

// UI Colors
$red: #bf284e;
$green: #4bb543;
$yellow: yellow;
$blue: #0080ff;


//==============//
//  TYPOGRAPHY  //
//==============//
$size6: 6rem;
$size5: 3rem;
$size4: 2.4rem;
$size3: 1.6rem;
$size2: 1.15rem;
$size1: 1rem;
$size0: 0.8rem;

$font: 'Roboto', sans-serif;

//==============//
//   SHADOWS    //
//==============//
$shadow4: 0 8px 10px rgba(black, 0.5);
$shadow3: 0 6px 8px rgba(black, 0.3);
$shadow2: 0 4px 6px rgba(black, 0.2);
$shadow1: 0 2px 4px rgba(black, 0.1);

//==============//
//  ANIMATIONS  //
//==============//
$standard: cubic-bezier(0.4, 0, 0.2, 1);
$enter: cubic-bezier(0, 0, 0.2, 1);
$exit: cubic-bezier(0.4, 0, 1, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

%card {
    box-sizing: border-box;
    padding: 2em;
    border: 1px solid $grey-light;
    border-radius: 3px;
    background: white;
    box-shadow: $shadow1;
    transition: box-shadow 150ms $standard;
    will-change: box-shadow;
}

%focus {
    &:focus {
        border-color: lighten($blue, 25%);
        box-shadow: 0 0 0 2px lighten($blue, 40%);
    }
}
