// stylelint-disable

//==============//
//    COLORS    //
//==============//
// Greys
$gray-000:        #fafbfc !default;
$gray-100:        #f6f8fa !default;
$gray-200:        #e1e4e8 !default;
$gray-300:        #d1d5da !default;
$gray-400:        #959da5 !default;
$gray-500:        #6a737d !default;
$gray-600:        #586069 !default;
$gray-700:        #474b4c !default;
$gray-800:        #353739 !default;
$gray-900:        #212324 !default; // body font color

// Brand Colors
$orange: #fe6300;
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);

$blurple: #403f63;
$blurple-light: lighten($blurple, 10%);
$blurple-dark: darken($blurple, 10%);

// UI Colors
$red: #bf284e;
$green: #4bb543;
$yellow: yellow;
$blue: #0080ff;


//==============//
//  TYPOGRAPHY  //
//==============//
$size6: 6rem;
$size5: 3rem;
$size4: 2.4rem;
$size3: 1.6rem;
$size2: 1.15rem;
$size1: 1rem;
$size0: 0.8rem;

$font: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//==============//
//   SHADOWS    //
//==============//
$shadow4: 0 7px 15px rgba($gray-900, 0.2);
$shadow3: 0 4px 10px rgba($gray-900, 0.2);
$shadow2: 0 3px 10px rgba($gray-900, 0.15);
$shadow1: 0 2px 4px rgba($gray-900, 0.1);

//==============//
//  ANIMATIONS  //
//==============//
$standard: cubic-bezier(0.4, 0, 0.2, 1);
$enter: cubic-bezier(0, 0, 0.2, 1);
$exit: cubic-bezier(0.4, 0, 1, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

%card {
    box-sizing: border-box;
    padding: 2em;
    border: 1px solid $gray-200;
    border-radius: 3px;
    background: white;
    box-shadow: $shadow1;
    transition: box-shadow 150ms $standard;
    will-change: box-shadow;
}

%focus {
    &:focus {
        border-color: lighten($blue, 25%);
        box-shadow: 0 0 0 2px lighten($blue, 40%);
    }
}
