// stylelint-disable no-browser-hacks

// GREYS
$midgrey: #92989a;

$lightergrey: #fafafa;
$lightgrey: #ebedef;

$darkgrey: #353739;
$darkergrey: darken($darkgrey, 65%);

$brandColor: #fe6300;
$accentColor: #41626b;

$red: #bf284e;
$purple: #5f4b9d;
$blue: #0080ff;
$blurple: #403f63;

// $font: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif;
$font: 'Roboto', sans-serif;

$standard: cubic-bezier(0.4, 0, 0.2, 1);
$enter: cubic-bezier(0, 0, 0.2, 1);
$exit: cubic-bezier(0.4, 0, 1, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

%card {
    box-sizing: border-box;
    padding: 2em;
    border: 1px solid darken(white, 8%);
    border-radius: 3px;
    background: white;
    @include box-shadow(1);
    transition: box-shadow 150ms $standard;
    will-change: box-shadow;
}
