.toasts {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    overflow: hidden;

    &__toast {
        display: flex;
        align-items: center;
        height: 3.4em;
        padding: 0 1em;
        border-radius: 3px;
        border: 1px solid $grey-darker;
        background-color: $grey-dark;
        color: white;
        font-size: $size0;
        box-shadow: $shadow1;
        transform: translateX(0);
        will-change: height;
        transition:
            height 300ms 300ms $standard,
            transform 300ms $standard,
            opacity 300ms $standard;

        &--entering { transform: translateX(calc(100% + 0.6em)); }

        & + & {
            margin-top: 0.4em;
        }

        &--success {
            background-color: $green;
        }

        &--error {
            background-color: $red;
        }

        &--leaving {
            height: 0;
            opacity: 0;
            transform: translateX(calc(100% + 0.6em));
        }
    }
}
