.toasts {
    position: absolute;
    right: 0;
    bottom: 1em;
    overflow: hidden;
    padding-right: 0.8em;

    &__toast {
        display: flex;
        align-items: center;
        height: 3.4em;
        padding: 0 1em;
        border-radius: 3px;
        border: 1px solid $grey-darker;
        background-color: $grey-dark;
        color: white;
        font-size: $size0;
        box-shadow: $shadow1;
        transform: translateX(0);
        will-change: height;
        transition:
            height 200ms 300ms,
            transform 300ms,
            opacity 300ms;
        transition-timing-function: $enter;

        &--entering { transform: translateX(calc(100% + 0.6em)); }

        & + & {
            margin-top: 0.4em;
        }

        &--success {
            border-color: darken($green, 10%);
            background-color: $green;
        }

        &--error {
            border-color: darken($red, 10%);
            background-color: $red;
        }

        &--leaving {
            height: 0;
            opacity: 0;
            transform: translateX(calc(100% + 0.6em));
            transition-timing-function: $exit;
        }
    }
}
