.group {
    &__buttons {
        display: flex;
        font-size: $size0;

        &__btn {
            padding: 0.6em;
            border: 1px solid $gray-300;
            border-right-width: 0;
            background: white;
            font-family: inherit;
            cursor: pointer;

            &:hover {
                background-color: $gray-300;
            }

            &:first-of-type {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;

                &::before {
                    content: '+ ';
                }
            }

            &:last-of-type {
                border-right-width: 1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }

    &__block {
        position: relative;
        padding: 1em;
        border: 1px solid $gray-300;
        border-radius: 3px;
        background-color: $gray-100;

        &__btns {
            position: absolute;
            z-index: 2;
            top: 1em;
            right: 1em;
            display: flex;
            align-items: center;
        }
    }

    &__drag {
        display: flex;
        padding: 0;
        border: none;
        margin-right: 0.3em;
        background: none;
        cursor: pointer;

        svg { fill: $gray-400; }

        &:hover svg { fill: $gray-500; }
    }
}
