.panel {
    display: flex;
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: 3px;
    min-height: 300px;

    &__col {
        width: 20%;
        border-right: 1px solid $gray-300;
        font-size: $size0;

        .btn { margin: 1em 0 0 1em; }

        &:nth-child(odd) {
            background-color: $gray-000;
        }

        &__title {
            box-sizing: border-box;
            width: 100%;
            padding: 1em;
            border-bottom: 1px solid $gray-300;
            margin: 0;
            background-color: $gray-200;
            color: $gray-500;
            font-size: $size0;
            font-weight: 400;
        }

        &__handle {
            display: block;
            width: 100%;
            color: $gray-500;
            font-size: 0.7rem;
        }

        &__tile {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1.5em;
            border: none;
            border-bottom: 1px solid $gray-300;
            flex-wrap: wrap;
            background-color: $gray-200;
            font-family: inherit;
            text-align: left;
            cursor: pointer;

            &.is-active {
                background-color: white;
            }

            &:hover {
                background-color: $gray-300;
            }
        }
    }

    &__field-layout {
        flex: 2;

        .panel__col__inner { padding: 1em; }
    }

    &__delete {
        margin-top: 2em;
        color: $orange;
    }
}
