.rich-text {
    &__tools {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid $gray-300;
        background-color: white;
    }

    &-editor {
        overflow-y: auto;
        max-height: 500px;
        font-family: $font;
        background-color: white;
        line-height: 1.5;

        @include scrollbar($gray-300, white, 8px);
    }

    &-toolbar {
        font-family: $font;

        button {
            border-color: $gray-300;
        }
    }
}
