{% extends "server-base.njk" %}

{% set title = "Welcome to FlintCMS" %}

{% block content %}
<h1>🔥 Welcome to FlintCMS!</h1>
<ul class="text-gray-light">
  <li>If you haven't setup your Flint CMS installation <a href="/admin/install" target="_blank">get started here.</a></li>
  <li>Read the <a href="https://flintcms.co/docs/templating/" target="_blank">Flint CMS docs</a> and learn how to create templates to display your content!</li>
  <li>Get started building content in <a href="/admin" target="_blank">the admin app</a>.</li>
</ul>
{% endblock %}
