{% extends "server-base.njk" %}

{% set title = "Missing Template" %}

{% block content %}
<h1>🔨 Missing template: <code class="inline-code">{{this.template}}</code></h1>
<p class="text-gray-light">Please choose another template or create the <strong>{{this.template}}</strong> template file.</h4>
{% endblock %}
