{% extends "server-base.njk" %}

{% set title = "Missing Template" %}

{% block content %}
<div class="eq-space"></div>
<section>
  <p class="content icon">🔨</p>
  <div class="row">
    <div class="content">
      <h1 class="title is-1">Missing Template &#x2018;{{this.template}}&#x2019;</h1>
      <h4 class="subtitle is-5">Please choose another template or create the {{this.template}} template file.</b></h4>
    </div>
  </div>
</section>
<div class="eq-space"></div>
{% endblock %}
