.btn {
    display: inline-block;
    padding: 0.6em;
    border: none;
    border-radius: 3px;
    background-color: $red;
    color: white;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover { background-color: lighten($red, 10%); }

    &--yes { background-color: blue; }

    &--small { font-size: 0.8rem; }
}
