@import './scss/normalize';

html, body, .mount {
    height: 100%;
}

body {
    background-color: $lightergrey;
    font-family: $font;

    &.body--blue { background-color: $blurple; }
}

.content { background-color: white; }
