@import './scss/normalize';

html, body, .mount {
    height: 100%;
}

body {
    background-color: $grey-lighter;
    font-family: $font;

    &.body--grey { background-color: $grey-light; }
}

.form-element {
    & + & {
        margin-top: 1.4em;
    }
}

.content { background-color: white; }
