@import './scss/normalize';

html, body, .mount {
    height: 100%;
}

body {
    background-color: $lightgrey;
    font-family: $font;

    &.body--blue { background-color: $blurple; }
}

.full { width: 100%; }
