.page--home {
    .content { background-color: transparent; }

    .title-bar { border-bottom: none; }

    .page__inner {
        display: flex;
    }

}

.home {
    &--empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;

        a { color: $orange; }
    }

    &__column {
        @extend %card;
        width: 32%;

        @include media($on-mobile) { width: 100%; }

        .subtitle {
            margin-top: 0;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &-item {
            @extend %card;
            padding: 0;

            &:hover {
                @include box-shadow(2);
            }

            a {
                display: block;
                padding: 1.2em;
                color: black;
                font-size: $size0;
                text-decoration: none;
            }

            h4 { margin: 0 0 0.5em; font-size: 1.1em; }

            &__meta {
                display: flex;
                justify-content: space-between;
            }

            &__date {
                margin-left: auto;
                color: $grey;
            }

            & + & {
                margin-top: 1em;
            }
        }
    }
}
