.page--settings {
    .page__inner {
        padding-left: 0;
        padding-right: 0;
    }

    .settings {
        &__section {
            display: flex;
            align-items: center;
            padding: 2em;
            border-bottom: 1px solid $grey-light;
            flex-wrap: wrap;

            &:first-of-type { padding-top: 0; }

            &__title {
                width: 100%;
                margin-top: 0;
                font-size: 1rem;

                @include media($on-mobile) {
                    font-size: $size0;
                }
            }

            @include media($on-mobile) {
                padding: 1em;
            }
        }

        &__link {
            display: flex;
            padding: 1em 2em;
            border: 1px solid transparent;
            margin-left: 2em;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            color: black;
            font-size: 0.9rem;
            text-decoration: none;

            &:first-of-type { margin-left: 0; }

            svg { fill: $blurple; margin-bottom: 1em; }

            &:hover {
                border-color: $grey-light;
                background-color: $grey-lighter;
            }

            @include media($on-mobile) {
                padding: 1em;
                margin-left: 1em;
                font-size: $size0;

                svg { width: 2.5em; height: 2.5em; }
            }
        }
    }
}
