.dropdown {
    position: relative;
    display: inline-block;
    font-size: 0.8rem;

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        width: 100%;
        opacity: 0;
        @extend %card;
        padding: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(-0.5em);
        transition:
            opacity 150ms $standard,
            visibility 150ms $standard,
            transform 150ms $standard;
    }

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;

        > * {
            &:not(:first-child) { margin-left: 0.6em; }
        }

        > .status { flex-shrink: 0; }

    }

    &__child {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__btn, &__opt {
        display: block;
        padding: 0.6em;
        font-family: inherit;
        text-align: left;
        cursor: pointer;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        border: 1px solid $grey-light;
        background: white;
        min-width: 100px;

        &:focus {
            border-color: #7dafe8;
            outline: none;
            box-shadow: 0 0 5px #80caff;
        }

        &::after {
            content: '';
            position: relative;
            top: 2px;
            @include triangle(bottom, 4px, $grey);
        }
    }

    &--full {
        width: 100%;

        .dropdown__btn {
            width: 100%;
        }
    }

    &__opt {
        width: 100%;
        border: none;
        border-bottom: 1px solid $grey-light;
        background: none;
        outline: none;

        &:hover, &:focus {
            background-color: $grey-light;
        }
    }

    &.is-open {
        .dropdown__btn {
            background-color: $grey-light;
        }

        .dropdown__options {
            pointer-events: initial;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
