.field-layout {
    margin-top: 2em;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-top: 0;
    }

    &__target {
        box-sizing: border-box;
        min-height: 200px;
        width: 50%;
        padding: 1em 1em 4em;
        border: 1px solid $gray-300;
        border-radius: 3px;
        margin: 0;
        list-style-type: none;
        background-color: $gray-000;

        &.can-drop { background-color: $gray-300; }

        &__field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            border: 1px dotted $blurple;
            border-radius: 3px;
            background-color: $gray-000;
            transition: transform 150ms $bounce;

            &:not(:first-of-type) { margin-top: 0.2em; }

            &:hover { transform: scale(1.02); }

            &__title {
                display: inline-block;
                margin: 0;
            }

            &__btn {
                padding: 0;
                border: none;
                margin: 0;
                background: none;
                cursor: pointer;
            }
        }
    }

    &__fields {
        display: flex;
        align-items: center;
        align-content: flex-start;
        width: calc(50% - 2em);
        margin-left: 2em;
        flex-wrap: wrap;

        &__field {
            @extend %card;
            width: calc(50% - 1em);
            padding: 1em;
            margin-top: 1em;

            &:nth-child(1), &:nth-child(2) { margin-top: 0; }

            &:nth-child(even) { margin-left: 1em; }

            &:not(.is-disabled) {
                cursor: grab;

                &:hover {
                    box-shadow: $shadow2;
                }
            }
        }
    }
}
