.secondary-nav {
    position: relative;
    min-width: 200px;
    padding: 2em 0 0;
    border-right: 1px solid $gray-300;
    background-color: $gray-000;

    @include media($on-mobile) {
        padding: 0.5em;

        + .page__inner {
            border: 1px solid $gray-300;
            margin: 0.5em;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 0.8rem;

        &-item {
            a {
                position: relative;
                display: block;
                padding: 1em;
                color: black;
                text-decoration: none;

                @include media($on-mobile) {
                    padding: 0.5em;
                }

                &:hover { background-color: $gray-300; }

                &.is-active {
                    background-color: $gray-300;

                    &::after, &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        @include media($on-mobile) {
                            display: none;
                        }
                    }

                    &::after {
                        @include triangle(left, 8px, white);
                        z-index: 2;
                        right: -1px;
                    }

                    &::before {
                        @include triangle(left, 8px, $gray-400);
                        z-index: 1;
                        right: 0;
                    }
                }
            }
        }
    }
}
