.page {
    display: flex;
    overflow-y: auto;
    width: calc(100% - 220px);
    min-height: 100%;
    flex-direction: column;
    flex-grow: 2;

    @include media($on-mobile) {
        width: 100%;
        flex: none;
    }

    .page__inner {
        box-sizing: border-box;
        padding: 2em;
        flex-grow: 2;

        @include media($on-mobile) {
            padding: 1em;
        }
    }
}

.content {
    display: flex;
    flex: 1 0 auto;

    @include media($on-mobile) {
        flex-direction: column;
    }
}
