.breadcrumbs {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 2em;
    border-bottom: 1px solid $lightgrey;
    background-color: $lightergrey;
    font-size: 0.7rem;

    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &-item {
            &__separator {
                margin: 0 0.4em;
                color: $midgrey;
            }

            a {
                color: $midgrey;
                text-decoration: none;

                &:hover { color: $blurple; }
            }
        }
    }
}
