.breadcrumbs {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 2rem;
    border-bottom: 1px solid $gray-300;
    flex-shrink: 0;
    background-color: $gray-000;
    font-size: 0.7rem;

    @include media($on-mobile) {
        padding: 0.7rem 1rem;
    }

    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &-item {
            &__separator {
                margin: 0 0.4em;
                color: $gray-500;
            }

            a {
                color: $gray-500;
                text-decoration: none;

                &:hover { color: $gray-700; }
            }
        }
    }
}
