.title-bar {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    background-color: $lightergrey;

    &__title {
        margin: 0;
        font-size: 1.6rem;
    }
}
