.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid $grey-light;
    flex-shrink: 0;
    background-color: $grey-lighter;

    @include media($on-mobile) {
        padding: 0.5em 1em;
    }

    &__title {
        margin: 1.18px 0;
        color: $orange;
        font-size: 1.6rem;
        font-weight: 500;

        @include media($on-mobile) {
            margin: 5px 0;
            font-size: 1.2rem;
        }
    }

    &__children {
        display: flex;

        .btn + .btn { margin-left: 0.5em; }
    }
}
