.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid $grey-light;
    flex-shrink: 0;
    background-color: $grey-lighter;

    &__title {
        margin: 1.18px 0;
        color: $orange;
        font-size: 1.6rem;
        font-weight: 500;
    }
}
