{% extends "layouts/base.html" %}

{% block body %}
  <container class="main">
    <spacer size="32"></spacer>

    <row><columns>
      <center><h1>Forgot your password?</h1></center>
    </columns></row>

    <row><columns>
      <p>You're receiving this email because someone has reset the password associated with this email on <strong><a href="{{siteUrl}}">{{siteName}}</a></strong>. Don&apos;t even worry about it! We've reset your password, so you can go ahead and create a new one using the link below.</p>
    </columns></row>

    <row><columns>
      <center><button href="{{siteUrl}}/admin/verify?t={{token}}" class="small-expanded">Confirm</button></center>
    </columns></row>

    <spacer size="16"></spacer>
  </container>
{% endblock body %}