{% extends "layouts/base.html" %}

{% block body %}
  <spacer size="32"></spacer>

  <container>
    <spacer size="16"></spacer>
    <row><columns>
      <center>FLINT LOGO</center>
    </columns></row>

    <row><columns>
      <center><h1 style="text-align: center">Confirm your Account</h1></center>
    </columns></row>

    <row><columns>
      <center>Congrats, there's a new account for you!</center>
    </columns></row>

    <row><columns>
      <center><button href="http://localhost:4000/admin/verify?t={{token}}" class="small-expanded">Confirm here</button></center>
    </columns></row>
  </container>
{% endblock body %}