{% extends "layouts/base.html" %}

{% block body %}
  <container class="main">
    <spacer size="32"></spacer>

    <row><columns>
      <center><h1>Reset your Password</h1></center>
    </columns></row>

    <row><columns>
      <p>Hi {{name}}! An administrator of <strong><a href="{{siteUrl}}">{{siteName}}</a></strong> has reset your password for you using the FlintCMS dashboard. You will have to create a new password using the link below.</p>
    </columns></row>

    <row><columns>
      <center><button href="{{siteUrl}}/admin/verify?t={{token}}" class="small-expanded">Create Password</button></center>
    </columns></row>

    <spacer size="16"></spacer>
  </container>
{% endblock body %}