.nav {
    width: 220px;
    height: 100%;
    background-color: $darkgrey;
    font-size: 0.8rem;

    &__sitename {
        display: block;
        padding: 1em;
        color: white;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
            background-color: darken($darkgrey, 8%);
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &-item {
            &__link {
                display: flex;
                align-items: center;
                padding: 1.4em 2em;
                color: white;
                font-size: 0.8rem;
                text-decoration: none;

                .icon { margin-right: 1em; fill: white; }

                &:hover, &:focus, &.is-active {
                    background-color: darken($darkgrey, 8%);
                }
            }
        }
    }
}
