.page--styles .page__inner {
    display: flex;
    flex-direction: column;
}

.style-editor {
    &__editor {
        height: 100%;
        border: 1px solid $gray-300;
        border-radius: 3px;

        .ReactCodeMirror, .CodeMirror {
            height: 100%;
        }
    }
}
