{% extends "base.njk" %}
{% set blog = flint.section('asdfsadf') %}

{% block body %}
  {% include "_partials/nav.njk" %}
  <h1>{{ siteName }}</h1>
  <h2>{{ entry.title }}</h2>

    {{ entry.test }}
    {% if entry.richText %}
      {{ entry.richText | safe }}
    {% else %}
      No rich text!
    {% endif %}
  {#{{ entry | json | safe }}
  {{ flint | json | safe }}#}

    <h2>{{blog.title}}</h2>

    {% for ent in blog.entries %}
      <h3><a href="{{ent.url}}">{{ent.title}}</a></h3>
    {% endfor %}

    <h2>{{dif.title}}</h2>

    {% for ent in dif.entries %}
      <h3><a href="{{ent.url}}">{{ent.title}}</a></h3>
    {% endfor %}
{% endblock %}