.login {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .flint-logo {
        width: 140px;
        height: 80px;
        margin: 3em 0 2em;
        fill: $grey;
    }

    &__inner {
        @extend %card;
        width: 420px;
        max-width: 90%;
    }

    h1 { margin-top: 0; }

    .input, .btn {
        display: block;
        width: 100%;
    }

    .btn { padding: 1em; }

    .input { margin-bottom: 1em; }
}
