.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__inner {
        display: flex;
        align-items: center;
        padding: 2em;
        max-width: 300px;
        border-radius: 5px;
        border: 1px solid $grey;
        flex-direction: column;
        background-color: darken($grey-lighter, 5%);
        font-size: $size0;

        svg { fill: $grey; margin-bottom: 1em; }
    }
}
