.nav {
    position: relative;
    width: 220px;
    height: 100%;
    background-color: $grey-dark;
    font-size: $size0;
    transition: transform 200ms;

    @include media($on-mobile) {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition-timing-function: $exit;

        &.is-open {
            transform: translateX(0);
            transition-timing-function: $enter;

            ~ .nav__toggle-overlay {
                opacity: 0.5;
                pointer-events: initial;
            }
        }
    }

    &__toggle {
        display: none;
        width: 100%;
        padding: 0.6em;
        border: none;
        border-bottom: darken($grey-light, 10%) 1px solid;
        margin: 0;
        background: $grey-light;

        @include media($on-mobile) { display: block; }

        svg { fill: $grey; }

        &-overlay {
            position: fixed;
            z-index: 98;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0;
            pointer-events: none;
            transition: opacity 150ms $standard;

            @include media($on-mobile) { display: block; }
        }
    }

    &__sitename {
        display: block;
        padding: 1em;
        border-bottom: 1px solid darken($grey, 30%);
        color: white;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
            background-color: darken($grey-dark, 8%);
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &-item {
            border-bottom: 1px solid darken($grey, 30%);

            &__link {
                display: flex;
                align-items: center;
                padding: 1.4em 2em;
                color: white;
                text-decoration: none;

                .icon { margin-right: 1em; fill: white; }

                &:hover, &:focus, &.is-active {
                    background-color: darken($grey-dark, 8%);
                }
            }
        }
    }

    &__user {
        position: absolute;
        bottom: 0;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 2em;
        border-top: 1px solid darken($grey, 30%);
        color: white;

        &__text {
            flex-grow: 2;

            &__title {
                margin-bottom: 0.4em;
                color: white;
            }

            &__logout { color: $grey; }

            &__title, &__logout {
                display: block;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }
        }

        &__avatar {
            margin-right: 1em;
            flex-basis: 2.5em;

            img { width: 100%; }
        }

    }
}
