.nav {
    position: relative;
    width: 220px;
    height: 100%;
    background-color: $grey-dark;
    font-size: 0.8rem;

    &__sitename {
        display: block;
        padding: 1em;
        border-bottom: 1px solid darken($grey, 30%);
        color: white;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
            background-color: darken($grey-dark, 8%);
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &-item {
            border-bottom: 1px solid darken($grey, 30%);

            &__link {
                display: flex;
                align-items: center;
                padding: 1.4em 2em;
                color: white;
                font-size: 0.8rem;
                text-decoration: none;

                .icon { margin-right: 1em; fill: white; }

                &:hover, &:focus, &.is-active {
                    background-color: darken($grey-dark, 8%);
                }
            }
        }
    }

    &__user {
        position: absolute;
        bottom: 0;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 2em;
        border-top: 1px solid darken($grey, 30%);
        color: white;

        &__text {
            flex-grow: 2;

            &__title {
                margin-bottom: 0.4em;
                color: white;
            }

            &__logout { color: $grey; }

            &__title, &__logout {
                display: block;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }
        }

        &__avatar {
            margin-right: 1em;
            flex-basis: 2.5em;

            img { width: 100%; }
        }

    }
}
