.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 3px;
    font-size: $size0;

    svg { margin-right: 1em; flex-shrink: 0; }

    &--warning { background-color: $yellow; }

    &--error {
        background-color: $red;
        color: white;

        svg { fill: white; }
    }

    &--success { background-color: $green; }
}
