.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;

    @include media($on-mobile) {
        font-size: 0.7em;
    }

    &__header {
        padding: 0;

        &__btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.8em;
            border: none;
            background: none;
            color: $gray-500;
            font-weight: 700;
            font-size: 0.7rem;
            font-family: inherit;
            text-align: left;

            @include media($on-mobile) {
                padding: 0.5em;
            }

            &::after {
                content: '';
                position: absolute;
                right: 6px;
            }

            &.desc::after {
                @include triangle(bottom, 4px, $gray-700);
                top: calc(50% - 2px);
            }

            &.asc::after {
                @include triangle(top, 4px, $gray-700);
                top: calc(50% - 6px);
            }

            &.is-active { background-color: $gray-200; }
        }
    }

    &__cell {
        padding: 1.2em 0.8em;

        @include media($on-mobile) {
            padding: 1em 0.5em;
        }

        a {
            color: blue;
            text-decoration: none;

            &:hover { text-decoration: underline; }
        }

        code {
            padding: 0.2em 0.4em;
            border-radius: 3px;
            border: 1px solid $gray-300;
            background-color: $gray-100;
        }

        &--delete, &--status, &--homepage { width: 1em; }

        &--image {
            width: 3em;
            height: 3em;

            img { max-width: 100%; }
        }
    }

    &__row {
        border-bottom: 1px solid $gray-300;
    }

    &__search {
        margin-bottom: 1em;

        @include media($on-mobile) {
            input { font-size: 0.8rem; }
        }
    }

    &__delete {
        display: flex;
        padding: 0;
        border: none;
        margin: 0;
        background: none;
        cursor: pointer;

        svg { fill: $gray-500; }

        &:hover svg { fill: $gray-600; }
    }
}
