.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;

    &__header {
        padding: 0;

        &__btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.8em;
            border: none;
            background: none;
            color: $grey-dark;
            font-weight: 700;
            font-size: 0.7rem;
            font-family: inherit;
            text-align: left;

            &::after {
                content: '';
                position: absolute;
                right: 6px;
            }

            &.desc::after {
                top: calc(50% - 2px);
                @include triangle(bottom, 4px, $grey-dark);
            }

            &.asc::after {
                top: calc(50% - 6px);
                @include triangle(top, 4px, $grey-dark);
            }

            &.is-active { background-color: $grey-light; }
        }
    }

    &__cell {
        padding: 1.2em 0.8em;

        a {
            color: blue;
            text-decoration: none;

            &:hover { text-decoration: underline; }
        }

        &--delete, &--status { width: 1em; }

        &--image {
            width: 3em;
            height: 3em;

            img { max-width: 100%; }
        }
    }

    &__row {
        border-bottom: 1px solid $grey-light;
    }

    &__search {
        margin-bottom: 1em;
    }

    &__delete {
        display: flex;
        padding: 0;
        border: none;
        margin: 0;
        background: none;
        cursor: pointer;

        svg { fill: $grey; }

        &:hover svg { fill: darken($grey, 10%); }
    }
}
